<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/history"><span class="glyphicon glyphicon-calendar"></span> History</a>
      </li>
      <li>
        <a href="/guide"><span class="glyphicon glyphicon-user"></span> How Songwalk Works</a>
      </li>
    </ul>
  </div>
</nav>