.latestTrips ul.list-group {
	
}
.latestTrips ul.list-group li:hover {
	background-color: #A5CCCC;
	border-color: #fff;
}

.latestTrips ul.list-group li:hover .trip-date-container {
	background-color: #A5CCCC;
}

.latestTrips ul.list-group li:hover a, .latestTrips ul.list-group li:hover span  {
	color: #fff;
}

.latestTrips ul.list-group li a {
	color: #666;
	text-decoration: none !important;
}

.jumbotron {
	background: linear-gradient(rgba(10, 0, 0, 0.45), rgba(50, 0, 0, 0.45)), url('/img/jumbotron3.jpg');
}
 .songs-count-container {
	position: absolute;
	top: 0;
	right: 0;
	padding-left: 25px;
	padding-right: 25px;
	height: 100%;
	background-color: #559999;
	color: #fff;
}
.songs-count-container .value {
	font-size: 225%;
}