 .jumbotron {
      background: linear-gradient(rgba(10, 0, 0, 0.45), rgba(50, 0, 0, 0.45)), url('/img/jumbotron.jpg');
    }
    .playlist-form {
      max-width: 500px;
      width: 80%;
      margin: auto;
    }
    .playlist-form input {
      padding: 22px 14px;
      font-size: 22px;
    }
    .playlist-form a {
      margin-top: 5px;
      width: 100%;
    }
    
    .spotify-actions-content {
        max-width: 400px;
        width: 80%;
        margin: auto;
    }
    
    .spotify-actions-content a {
      margin-top: 5px;
      width: 100%;
    }