<!DOCTYPE html>
<html data-ng-app="guide">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/guide.css"></script>
  <script type="text/javascript" src="/scripts/guide.js"></script>
</head>

<body data-ng-controller="guideCtrl">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><span class="glyphicon glyphicon-cog"></span> How Songwalk works</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="g in guides"><h4><span class="glyphicon glyphicon-{{g.glyphicon}}"></span> <span>{{g.body}}</span></h4><div class="guide-index pull-right">1</div><div class="guide-index pull-right">{{$index+1}}</div></li>  
      </ul>
    </div>
  </div>
</div>


</body>
</html>
