<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
   
    </a>
    <h1>History</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Latest trips</h3>
      <ul>
        <li>Stortinget to Majorstuen</li>
        <li>Frogner to Ullevål</li>
        <li>Lillestrøm til Stavanger</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Statistics</h3>
      <ul>

      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
