<!DOCTYPE html>
<html data-ng-app="history">
<head>
  <% include ../partials/header.ejs %>  
  <link rel="stylesheet" type="text/css" href="/stylesheets/history.css"></script>
  <script type="text/javascript" src="/scripts/history.js"></script>
  <script type="text/javascript" src="/scripts/parse.factory.js"></script>
</head>

<body data-ng-controller="historyCtrl">

<% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><span class="glyphicon glyphicon-signal"></span> History</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 latestTrips">
      <h3><span class="glyphicon glyphicon-pushpin"></span> Latest trips</h3>
      <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="t in trips">
        <a data-ng-href="/history/{{t.objectId}}">
          <b>From:</b> {{t.From}}<br />
          <b>To:</b> {{t.To}}<br />
          Collected {{t.Songs.length}} songs.
        </a>
        <span class="pull-right" style="font-size:12px;"><span class="glyphicon glyphicon-calendar"></span> {{t.createdAt | amDateFormat:'MMMM Do YYYY'}}</span>
        </li>
        <li class="list-group-item" style="background-color:#B01302;color:#fff;font-size:16px;" ng-show="trips.length == 0">
          <span class="glyphicon glyphicon-heart-empty"></span>
          <i>You have no recent trips.</i>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-object-align-bottom"></span> Statistics</h3>
      <ul class="list-group">
          <li class="list-group-item" data-ng-repeat="(key, value) in statistics"><b>{{key}}</b><span class="pull-right">{{value}}</span></li> 
          <li class="list-group-item" style="background-color:#B01302;color:#fff;font-size:16px;" ng-show="!statistics">
            <span class="glyphicon glyphicon-heart-empty"></span>
            <i>No statistics available</i>
          </li>      
      </ul>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
