<!DOCTYPE html>
<html data-ng-app="home">
<head>
  <% include ../partials/header.ejs %>
  <style type="text/css">
    .jumbotron {
      background: linear-gradient(rgba(10, 0, 0, 0.45), rgba(50, 0, 0, 0.45)), url('/img/jumbotron.jpg');
    }
    .playlist-form {
      width: 400px;
      margin: auto;
    }
    .playlist-form input {
      padding: 22px 14px;
      font-size: 22px;
    }
    .playlist-form a {
      margin-top: 5px;
      width: 100%;
    }
  </style>
  <script type="text/javascript" src="/scripts/index.js"></script>
</head>

<body data-ng-controller="mainCtrl">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Songwalk</h1>
    <p>Build playlists based on your location</p>

    <a class="col-xs-12 btn btn-link" href="/guide" style="color:#fff"><span class="glyphicon glyphicon-question-sign"></span> How does this work?</a>

    <a data-ng-hide="spotify_userdata" href="/login" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-cloud"></span> Log in with Spotify</a>


    <div data-ng-show="spotify_userdata && !playlist"  class="create-playlist-content col-xs-12">
      <p>
        Want more songs in your favorite playlist? Enter its name and Songwalk will add songs to it!
        Or you could enter a hole new name and Songwalk will make a playlist for you from only the freshest ingredients.
      </p>
      <div class="playlist-form">
        <div class="input-group col-xs-12">
          <input type="text" class="form-control" placeholder="Songwalk" ng-model="playlistName" aria-label="Enter desired playlist name">
        </div>
        <a id="start-playing" class=" btn btn-lg btn-default" ng-click="makePlaylist()">Make playlist</a>
      </div>
    </div>
  </div>

  <a data-ng-show="spotify_userdata && playlist" id="start-playing" class="btn btn-lg btn-default">
    <span class="glyphicon glyphicon-square"></span> Stop adding songs
  </a>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" data-ng-show="playlist">
    <h3 class="col-xs-6">{{ playlistName }} </h3>
    <h3 class="col-xs-6 pull-right"><a href="http://open.spotify.com/playlist/{{playlistId}}"><span class="glyphicon glyphicon-play-circle"></span> Open in Spotify</a></h3>
      <table class="table striped">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Title</th>
          <th>Album</th>
          <th>Added</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="track in playlist">
          <td>{{ track.artists[0].name }}</td>
          <td>{{ track.name }}</td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.timeAdded }}</td>
          <td>{{ track.duration_ms }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  <script id="embeded-player-template" type="text/x-handlebars-template">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:{{clientId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </script>

</body>
</html>
