<!DOCTYPE html>
<html data-ng-app="home">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"></link>
  <link rel="stylesheet" type="text/css" href="/stylesheets/spinners.css"></link>
  <link rel="stylesheet" type="text/css" href="/stylesheets/equalizer.css"></link>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script type="text/javascript" src="/scripts/index.js"></script>
  <script type="text/javascript" src="/scripts/parse.factory.js"></script>
  <script type="text/javascript" src="/scripts/location.js"></script>
  <script type="text/javascript" src="/scripts/debug.js"></script>
</head>

<body data-ng-controller="mainCtrl">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div style="font-size:80px;margin-bottom:-20px;">
      <span class="glyphicon glyphicon-music"></span>
    </div>
    <h1>Songwalk</h1>
    <p>Build playlists based on your location</p>

    <a ng-hide="makingPlaylist" class="col-xs-12 btn btn-link" href="/guide" style="color:#fff"><span class="glyphicon glyphicon-question-sign"></span> How does this work?</a>

    <div data-ng-show="spotify_userdata && !playlist" class="create-playlist-content col-xs-12">
      <p ng-hide="makingPlaylist">
        Want more songs in your favorite playlist? Enter its name and Songwalk will add songs to it!
        Or you could enter a whole new name and Songwalk will make a playlist for you from only the freshest ingredients.
      </p>
      <div class="playlist-form" ng-hide="makingPlaylist">
        <div class="input-group col-xs-12">
          <input type="text" class="form-control" placeholder="Songwalk" ng-model="playlistName" aria-label="Enter desired playlist name">
        </div>
        <a class="btn btn-lg btn-success" ng-click="makePlaylist();"><span class="glyphicon glyphicon-music"></span> Make playlist</a>
      </div>
      <div ng-show="makingPlaylist">
        <span class="{{spinner}}">
        </span>
        <p style="padding-left: 5px;">Adding your new playlist...</p>
      </div>
    </div>
  </div>
  
  <div class="spotify-actions-content">
    <a data-ng-hide="spotify_userdata" href="/login" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-log-in"></span> Log in with Spotify</a>
    <a data-ng-show="spotify_userdata && playlist && !stopped" ng-click="stopAdding()" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-stop"></span> Stop adding songs</a>
    <a data-ng-show="spotify_userdata && playlist" class="btn btn-lg btn-default" href="http://open.spotify.com/user/{{spotify_userdata.id}}/playlist/{{playlistId}}"><span class="glyphicon glyphicon-play-circle"></span> Open in Spotify</a>
    <a data-ng-show="stopped" data-ng-click="restart()" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-repeat"></span> Go again?</a>
  </div>

  <div class="row" data-ng-show="spotify_userdata && playlist && !stopped">
    <div>
      <span class="{{spinner_watching}}">
      </span>
      <p style="padding-left: 5px;">Watching your location - adding new songs as you go</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" data-ng-show="playlist">
    <h3><span class="glyphicon glyphicon-music"></span> {{playlistName}}</h3>
    <div class="table-responsive">
      <table class="table striped">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Album</th>
            <th>Added</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="track in playlist">
            <td>{{ track.artists[0].name }}</td>
            <td>{{ track.name }}</td>
            <td>{{ track.album.name }}</td>
            <td>{{ track.timeAdded | amDateFormat:'MMM Do YYYY HH:mm' }}</td>
            <td>{{ track.duration_ms | trackDuration }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
