<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="https://play.spotify.edgekey.net/site/19b6d34/images/favicon.png">
    <h1>Putekrig</h1>
    <p>Play a song based on your location.</p>
    <a id="start-playing" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-triangle-right"></span> Start playing</a>
    <a href="/login" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-cloud"></span> Log in with Spotify</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="embeded-spotify-player"></div>
    </div>
  </div>
</div>

  <script id="embeded-player-template" type="text/x-handlebars-template">
    <iframe src="https://embed.spotify.com/?uri=spotify:user:{{clientId}}:playlist:{{playlistId}}&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
  </script>

</body>
</html>
